<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="cardApp" >
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<!-- <script src="vendor/bootstrap-3.3.7-dist/js/bootstrap.js"></script> -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<link rel="stylesheet" href="gra.css" media="all">
<!-- <link rel="stylesheet" href="styleLikes.css" media="all"> -->

<body ng-controller="cardlist">
  <meta charset="utf-8" />
  <div class="gra">

    <div id="interface" class="interface">


<div class="koloda">

<div class="kolodaBack">

<span id="liczCard">{{cards().length}}</span>

      <ul>


        <div class="advert">
            <br>
          <li class="myKoloda2" ng-repeat="card in cards() ">
            <div class="advWheel">
              <!-- <img class="imgg" src="{{card.picture}}" alt="{{card.name + 'picture'}}"> -->
              <img src="Fotos/cardBack.jpg" alt="animation in css3" height="96px" width="61px" border-radius="7px">
              <!-- <div class="opis2">
                <span id="cardPlaceId">{{card.name}} </span>
                <br>
              </div><br>
              <div class="opis3">
                <span id="centerMast">{{card.mast2}} </span>
                <br>
              </div>
              <div class="opis">
                <span id="cardPlaceId">{{card.name}} </span>
                <br>
              </div> -->
            </div>
          </li>
        </div>


      </ul>
</div>

<div class="kolodaFront">


        <ul>

          <div class="advert">
            <br>
            <li class="myKoloda" ng-class="{redColor: card.redColor}" ng-repeat="card in table.game()" >
              <div class="advWheel">
                <!-- <img class="imgg" src="{{card.picture}}" alt="{{card.name + 'picture'}}"> -->
                <div class="opis2">
                  <span id="cardPlaceId">{{card.name}} </span>
                  <br>
                </div><br>
                <div class="opis3">
                  <span id="centerMast">{{card.mast2}} </span>
                  <br>
                </div>
                <div class="opis" >
                  <span id="cardPlaceId" >{{card.name}} </span>
                  <br>
                </div>
              </div>
            </li>
          </div>

        </ul>
</div>

</div><br><br><br><br><br><br>

      <div class="player1">

        <ul>



          <div class="advert">
            <span id="name" > Player: {{player1.name}}</span><br>

  <button id="but" type="button" name="button" ng-click="get()">Get Card</button>

            <li class = "cardColor1" ng-class="{redColor: card.redColor}"  ng-repeat="card in player1.getCards() " ng-click="player1.playCard(card , $index, player1.name)">
              <div class="advWheel">
                <!-- <img class="imgg" src="{{card.picture}}" alt="{{card.name + 'picture'}}"> -->
                <div class="opis2">
                  <span id="cardPlaceId">{{card.name}} </span>
                  <br>
                </div><br>
                <div class="opis3">
                  <span id="centerMast">{{card.mast2}} </span>
                  <br>
                </div>
                <div class="opis">
                  <span id="cardPlaceId">{{card.name}} </span>
                  <br>
                </div>
              </div>
            </li>

          </div>

        </ul>

      </div>


      <div class="player2">

        <ul>
          <div class="advert">
            <span id="name"> Player: {{player2.name}}</span><br>

         <button id="but" type="button" name="button" ng-click="get2()">Get Card</button>
            <li  class="cardColor1" ng-class="{redColor: card.redColor}" class="cardColor1"   ng-repeat="card in player2.getCards() | filter:searchText" ng-click="player2.playCard(card , $index , player2.name)">
            <!-- ng-if="card.mast == 'czerwa' || card.mast == 'buba'" style="color: red" -->
              <div class="advWheel">
                <!-- <img class="imgg" src="{{card.picture}}" alt="{{card.name + 'picture'}}"> -->
                <div class="opis2" >
                  <span id="cardPlaceId">{{card.name}} </span>
                  <br>
                </div><br>
                <div class="opis3">
                  <span id="centerMast">{{card.mast2}} </span>
                  <br>
                </div>
                <div class="opis">
                  <span id="cardPlaceId">{{card.name}} </span>
                  <br>
                </div>
              </div>
            </li>

          </div>

        </ul>

      </div>




    </div>



  </div>

  <script src="gra.js"> </script>
</body>
</html>
