body {



    background: black ;url(Photos/fon.jpg) no-repeat center center fixed   ;
    margin: 0;
    padding: 0;
    /*font: 16px/24px Verdana	, sans-serif;*/
    font-family: Arial;
    color: #efefef;

}

a {
    text-decoration: none
}
a:hover{
  transition: all 1s;
}
/*structer site */


div.mid {

    width: auto;
    margin: 0 auto;
}
div.mid a:hover{

  text-decoration: none;
}

div.topmenu {
  display:block;
    float: center;

    line-height: 150px;
    width: 100%;
}
div.topmenu a {
    margin: 0 0 0 10px;
    color: #efefef;

}
div.topmenu a:hover {
    color: #ff0000;
    text-decoration: none;
}


.topmenu button{
  background: white;
  color: black;
}
.topmenu button:hover{
  background: white;
  color: red;
}

.topmenu img:hover{
  transform: rotate(362deg) scale(1.1,1.1);
  transition: transform 1s;
}

.btn.bd-btn:focus {
  outline: none;
}



.logo{
  text-align: center;
  margin: 10px;
}
.footCal{
  margin: 15px;
  text-align: center;
}




div.afisha {

    padding: 20px 50px 0 50px;
    background: transparent url(Photos/head.jpg) top repeat-x;
    margin: 10px;

}

div.afisha h3 {
    font-size: 32px;
    font-weight: normal;
    text-align: center;
    color: white;
}
div.afisha p {
    text-align: center;
}

div.afisha a {
    font-size: 20px;
    color:  #8B0000;
    font-weight: bold;
    background: white;
    border: 2px solid black;
    padding: 5px 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 7px -1px #777;


}
div.afisha a:hover{
  text-decoration: none;
}
div.afisha img{
  display: inline-block;
  width: 100%;
  margin: 10px;
}
div.afisha a:hover{
  color: red;

}
div.clear {
    clear: both;
}


div.menu{
  background: white;
  border: 1px solid black;
  color: red;
  border-left: none;
  border-right: none;
}
div.menu ul{
  margin: 0; padding: 0;
   list-style: none;
   text-align: center;
}
div.menu ul li{
  display: inline-block;
  margin: 5px 50px;

}

div.menu ul li a{
  color: black;
  text-transform: uppercase;
  text-shadow: 1px 1px 3px #0b4455;

}
div.menu ul li a:hover{
  color: red;
  text-transform: uppercase;
  text-shadow: 2px 3px 7px red;

}
div.fon{
  background: transparent;
  border: 1px solid #ccc;
  border-top: none;
  padding: 40px;
}
div.fon2{
  background: transparent;
  border: 1px solid whi;
  border-top: none;
  padding: 40px;
}
div.block{
  width: auto;
  /*float: left;*/
  display: inline-block;
}
div.block a p{
  color: #fff;
}
div.block a:hover{
  text-decoration: none;
  }
div.anons{

  background: transparent;
  border: 1px solid #fff;
  border-radius: 3px;
  padding: 20px;
  margin: 10px;
}
div.anons img{


  box-shadow: 1px 1px 5px #777;
  border: 2px outset black;
  width: 70%;
  transition: transform 1.4s;
}
div.anons:hover img{
  transform: scale(1.01) rotateY(180deg);

  width: 100%;


}

div.anons h3{
  font-size: 20px;
  margin: 20px 0 10px;
  color: #fff;
  padding: 0;
  font-weight: normal;
  line-height: 20px;
}
div.anons:hover  h3{
  font-size: 20px;
  margin: 20px 0 10px;
  color: black;
  padding: 0;
  font-weight: normal;
  line-height: 20px;

  }
div.anons p{
  text-shadow: 1px 1px 0 #fff;
}
div.anons:hover{
  background: #F0FFFF;
  transition: all 3s;
}
div.footer{
  margin: 10px;
  display: inline-block;
}
div.footer img{
  width: 100%;
}
div.photo {
  border: 3px solid white;
  display:inline-block;;
}



.photo img {

  width: 30%;
  transition: transform 1.4s;
}
div.photo:hover{
  transform: scale(1.5);
  transition: all 3s;
}
a.link{
  display:
}
.bd-btn .glyphicon.bigger-icon {

}

div.galeria {
  margin: 0;
  border: 2px solid white;
}
div.galeria img{
  border-radius: 4px;
  margin: 12px;
  width: 30%;
}
div.galeria img:hover{
  transform: scale(1.2) translate(0 , -26px);
  transition: transform 1.4s;


}

div.topmenu button{

  background: white;
  color: black;
  border-radius: 20px;
}
div.topmenu button:hover{
  background: white;
  color: red;
  border-radius: 20px;
}

div.form-group label{
  color: black;
}
div.modal-footer button{
  color: black;
}


ul {
  list-style-type: none;
}

body {
  font-family: Verdana, sans-serif;
}

.month {
  padding: 70px 25px;
  width: 100%;
  background: black;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .back {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.month button {
  outline: none;
}

.weekdays {
  display: flex;
  margin: 0;
  padding: 10px 0;
  background-color: white;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: black;
  text-align: center;
}

.days {
  padding: 10px 0;
  background: black;
  margin: 0;


}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size: 12px;
  color: white;

}

.days li:hover {
  color: red;
}

.days li.active {

  color: orange;
}

.time {
  color: red;
}

.month {
  text-align: center;
  color: white;
}

.month li {
  list-style-type: none;
}

.back {
  border: 0;
  background: transparent;
  transition: transform 1s;
}

.next {
  border: 0;
  background: transparent;
  transition: transform 1s;
}

.back:hover {
  color: red;
  transform: scale(4,4);
  transition: transform 1s;
}

.next:hover {
  color: red;
  transform: scale(4,4);
  transition: transform 1s;
}

.loaderDis {
  position: absolute;
  background: transperent;
  text-align: center;
  width: 100%;
  left: 0px;

}

.play {
  display: inline-block;
  border: 8px solid white;
  border-top: 8px solid red;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 0.3s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

div.galeria {
  border: 2px solid white;
}

div.fon2{
  background: black;


  padding: 40px;
}
img {


  text-align: center;
}
.days li.btn.super{
  background: transperent;
}
.advert myAdv{
  display: block;
  text-align: center;
}
.advert{

  margin: 10px;
}
.advert a .myLeft1{

  background: white;
}

.advert span{
  transition: transform 1s;
}
.advert span.myBack:hover {
  transform: translateX(-50px) scale(4,4);
  /*transform: scale(4,4);*/
  transition: transform 1s;
  color: red;
}
.advert span.myNext:hover {
  transform: translateX(50px) scale(4,4);
  /*transform: scale(4,4);*/
  transition: transform 1s;
  color: red;
}
.modal-header h4{
  color: black;
  text-align: center;
}
.form-group label{
  color: black;
}
.sidebar{

  position: absolute;
    right:  1700px;
    transition: 0.2s;
    width: 100%;
}
.sidebar.active2{
      border-right: 2px solid white;
      border-left: 2px solid white;
      border-bottom: 2px solid white;
      position: relative;
      width: 100%;
      height: auto;
      padding: 10px;

      right: 0;
      background: black;
      transition:  1s;

}
.clock li{
  color: white;
  font: 24px/36px Zapf Chancery, cursive;
  text-align: center;
  list-style-type: none;
}
.container{
  position :relative;

    padding: 20px;

    left: -2000px;

    transition: left 1s;
}
.container.active3{
  left: 0;

  transition: left 1s;


}






.sidebar{

/*position :relative;
  width: 250px;
  height: 800px;
  padding: 20px;

  right: 0;
  background: white;
  transition: right 1s;*/

}
.col-sm-4{

  position:
    width: 250px;
    height: 800px;
    padding: 20px;

    bottom: 0;
    background: white;
    transition:  2s;
}

.col-sm-8{
  transition:  2s;

}

.col-sm-8.active1{
/*position: fixed;*/

transition:  2s;
  width: 100%;

}

.col-sm-4.active {

position: absolute;
  bottom:  970px;

}
.icon-menu{
position: center;

  height: 30px;
  width: 25px;
  float: center;
  padding: 5px 0;
  cursor: pointer;
  /*margin-right: 10px;
  margin-left: -10px;*/

}
.divide{
  display: block;
  height: 2px;
  margin: 3px 0;

  background: white;
}
.footCal{

  text-align: center;
}

div.topmenu {
    text-align: center;
    width: 100%;
    line-height: 150px;
}
.logo{
  text-align: center;
  margin: 10px;
}
/*test 3*/


.days li.btn.super{
  width: 5%;
}
.advert{
  margin: 10px;
}
.advert a{

  background: black;
}

.advert span{
  transition: transform 1s;
  color: red;
}
.advert span.myBack:hover {
  transform: translateX(-50px) scale(4,4);
  /*transform: scale(4,4);*/
  transition: transform 1s;
  color: red;
}
.advert span.myNext:hover {
  transform: translateX(50px) scale(4,4);
  /*transform: scale(4,4);*/
  transition: transform 1s;
  color: red;
}
.container{
  position :relative;

    padding: 20px;

    left: -2000px;

    transition: left 1s;
}
.container.active3{
  left: 0;

  transition: left 1s;


}
.fullLoad{

  text-align: center;
  color:white;
  margin: 0;

}
body:hover .fullLoad img{
  transform: translateX(1400px) rotate(360deg);
  transition: transform 1s;



}
.fullLoad.active3{
  display: none;
  color:white;
  margin: 500px;
}

.block{
  display: inline-block;
}
.block img{
  width: 100%;

}
.next1{
  outline: none;
  color: white;
  border: 0;
  background: transparent;
  margin: 15px;
  float: right;
}

.back1{
  outline: none;
  color: white;
  border: 0;
  background: transparent;
  margin: 15px;
  float: left;
  transition: 1s;
}
.back1:hover {
  color: red;
  transform: scale(4,4);
  transition: transform 1s;
}

.next1:hover {
  color: red;
  transform: scale(4,4);
  transition: transform 1s;
}
*[role="form"] {
    max-width: 530px;
    padding: 15px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 0.3em;
}

*[role="form"] h2 {
    margin-left: 5em;
    margin-bottom: 1em;
}

.myReg h2{
  color: black;
}
.myRegBut a{
  text-decoration: none;
  color: gray;
  float:left;
}
.myRegBut a:hover{
  color: red;
}
.advert .myLeft1{

  background: transparent;
}
.advert .myRight1{

  background: transparent;
}


@import url(http://fonts.googleapis.com/css?family=Anaheim);

*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
    box-sizing: border-box;
}
*:before,
*:after{
	box-sizing: border-box;
}
html,
body{
	min-height: 100%;
}


h1{
	display: table;
	margin: 5% auto 0;
	text-transform: uppercase;
	font-family: 'Anaheim', sans-serif;
	font-size: 4em;
	font-weight: 400;
	text-shadow: 0 1px white, 0 2px black;
}
.advertNew{
  height: 390px;
  /*background-image: radial-gradient(mintcream 0%, lightgray 100%);*/
	margin: 7% auto;
	width: 210px;

	position: relative;
	perspective: 1000px;
}
#carousel{

	width: 100%;
	height: 100%;
	position: absolute;
	transform-style: preserve-3d;
	animation: rotation 20s infinite linear;
}
#carousel:hover{
	animation-play-state: paused;
}
#carousel figure{
	display: block;
	position: absolute;
	width: 99%;
	height: 350px;
	left: 10px;
	top: 10px;
	background: black;
	overflow: hidden;
	border: solid 2px black;
}
#carousel figure:nth-child(1){transform: rotateY(0deg) translateZ(288px);}
#carousel figure:nth-child(2) { transform: rotateY(40deg) translateZ(288px);}
#carousel figure:nth-child(3) { transform: rotateY(80deg) translateZ(288px);}
#carousel figure:nth-child(4) { transform: rotateY(120deg) translateZ(288px);}
#carousel figure:nth-child(5) { transform: rotateY(160deg) translateZ(288px);}
#carousel figure:nth-child(6) { transform: rotateY(200deg) translateZ(288px);}
#carousel figure:nth-child(7) { transform: rotateY(240deg) translateZ(288px);}
#carousel figure:nth-child(8) { transform: rotateY(280deg) translateZ(288px);}
#carousel figure:nth-child(9) { transform: rotateY(320deg) translateZ(288px);}

.advertNew img{
	-webkit-filter: grayscale(1);
	cursor: pointer;
	transition: all .5s ease;
}
.advertNew img:hover{
	-webkit-filter: grayscale(0);
  /*transform: scale(1.2,1.2);*/
}

@keyframes rotation{
	from{
		transform: rotateY(0deg);
	}
	to{
		transform: rotateY(360deg);
	}
}


@import url(https://fonts.googleapis.com/css?family=Montserrat);

html, body{
  height: 100%;
  font-weight: 800;
}

svg {
    display:inline-block;

    font: 10.5em 'Montserrat';
    width: auto;
    height: auto;
    margin: 0 ;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
    stroke: #1E90FF;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke:  white;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: red;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #4169E1;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: silver;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}
