body{
  background: black;
}
.sidebar{

position: fixed;
  width: 100px;
  height: 800px;
  padding: 20px;
  right: 0;
  background: white;
  transition: right 1s;
}
.sidebar.active {

position: relative;
  right:  300px;

}
.icon-menu{
position:relative;
margin: 20px;
  height: 30px;
  width: 25px;
  float: center;
  padding: 5px 0;
  cursor: pointer;
  /*margin-right: 10px;
  margin-left: -10px;*/

}
.divide{
  display: block;
  height: 2px;
  margin: 3px 0;

  background: white;
}
