body {



    background: black ;url(Photos/fon.jpg) no-repeat center center fixed   ;
    margin: 0;
    padding: 0;
    font: 16px/24px Verdana	, sans-serif;
    color: #efefef;

}

a {
    text-decoration: none
}
a:hover{
  transition: all 1s;
}
/*structer site */


div.mid {
    width: auto;
    margin: 0 auto;
}
div.mid a:hover{

  text-decoration: none;
}

div.topmenu {
    text-align: center;
    width: 100%;
    line-height: 150px;
}
.topmenu button{
  background: white;
  color: black;
}
.topmenu button:hover{
  background: white;
  color: red;
}
.topmenu img:hover{
  transform: rotate(362deg) scale(1.1,1.1);
  transition: transform 1s;
}
.logo{
  text-align: center;
  margin: 10px;
}
.footCal{

  text-align: center;
}
.footCal img{
  margin: 10px;
}
div.topmenu a {
    margin: 0 0 0 10px;
    color: #efefef;

}
div.topmenu a:hover {
    color: #ff0000;
    text-decoration: none;
}
div.afisha {
    padding: 20px 50px 0 50px;
    background: transparent url(Photos/head.jpg) top repeat-x;
    margin: 10px;
}

div.afisha h3 {
    font-size: 32px;
    font-weight: normal;
    text-align: center;
    color: white;
}
div.afisha p {
    text-align: center;
}

div.afisha a {
    font-size: 20px;
    color:  #8B0000;
    font-weight: bold;
    background: white;
    border: 2px solid black;
    padding: 5px 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 7px -1px #777;


}
div.afisha a:hover{
  text-decoration: none;
}
div.afisha img{
  margin: 10px;
}
div.afisha a:hover{
  color: red;

}
div.clear {
    clear: both;
}


div.menu{
  background: white;
  border: 1px solid black;
  color: red;
  border-left: none;
  border-right: none;
}
div.menu ul{
  margin: 0; padding: 0;
   list-style: none;
   text-align: center;
}
div.menu ul li{
  display: inline-block;
  margin: 5px 50px;

}

div.menu ul li a{
  color: black;
  text-transform: uppercase;
  text-shadow: 1px 1px 3px #0b4455;

}
div.menu ul li a:hover{
  color: red;
  text-transform: uppercase;
  text-shadow: 2px 3px 7px red;

}

div.fon2{
  background: transparent;
  border: 1px solid whi;
  border-top: none;
  padding: 40px;
}

div.footer{
  margin: 10px;
  display: inline-block;
}
div.footer img{
  width: 100%;
}


div.galeria {
  border: 2px solid white;
  transition: 2s;
}



ul {
  list-style-type: none;
}

body {
  font-family: Verdana, sans-serif;
}

.month {
  padding: 70px 25px;
  width: 100%;
  background: black;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .back {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.month button {
  outline: none;
}

.weekdays {
  display: flex;
  margin: 0;
  padding: 10px 0;
  background-color: white;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: black;
  text-align: center;
}

.days {
  padding: 10px 0;
  background: black;
  margin: 0;


}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size: 12px;
  color: white;

}

.days li:hover {
  color: red;
}

.days li.active {

  color: orange;
}

.time {
  color: red;
}

.month {
  text-align: center;
  color: white;
}

.month li {
  list-style-type: none;
}

.back {
  border: 0;
  background: transparent;
  transition: transform 1s;
}

.next {
  border: 0;
  background: transparent;
  transition: transform 1s;
}

.back:hover {
  color: red;
  transform: scale(4,4);
  transition: transform 1s;
}

.next:hover {
  color: red;
  transform: scale(4,4);
  transition: transform 1s;
}

.loaderDis {
  position: absolute;
  background: transperent;
  text-align: center;
  width: 100%;
  left: 0px;

}

.play {
  display: inline-block;
  border: 8px solid white;
  border-top: 8px solid red;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 0.3s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

div.galeria {
  border: 2px solid white;
}

div.fon2{
  background: black;


  padding: 40px;
}
img {


  text-align: center;
}
.days li.btn.super{
  background: transperent;
}
.advert myAdv{
  display: block;
  text-align: center;
}
.advert{

  margin: 10px;
}
.advert a{

  background: black;
}

.advert span{
  transition: transform 1s;
}
.advert span.myBack:hover {
  transform: translateX(-50px) scale(4,4);
  /*transform: scale(4,4);*/
  transition: transform 1s;
  color: red;
}
.advert span.myNext:hover {
  transform: translateX(50px) scale(4,4);
  /*transform: scale(4,4);*/
  transition: transform 1s;
  color: red;
}
.modal-header h4{
  color: black;
  text-align: center;
}
.form-group label{
  color: black;
}
.sidebar{

  position: absolute;
    right:  1700px;
    transition: 0.2s;
    width: 100%;
}
.sidebar.active2{



    position: relative;
      width: 100%;
      height: auto;
      padding: 20px;

      right: 0;
      background: white;
      transition:  1s;

}
.clock li{
  color: white;
  font: 24px/36px Zapf Chancery, cursive;
  text-align: center;
  list-style-type: none;
}
