.sidebar{

  display: block;
  width: 250px;
  padding: 20px;
  float: left;
  background: white;

  transition: left 1s ease-out 0.5s;


}
.sidebar.active{

  left: 0;
}
.icon-menu{
display: block;
  height: 30px;
  width: 20px;
  float: left;
  padding: 5px 0;
  cursor: pointer;
  /*margin-right: 10px;
  margin-left: -10px;*/

}
.divide{
  display: block;
  height: 2px;
  margin: 3px 0;

  background: white;
}
