body{

}


.strona{
  width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   overflow: auto;

}

.bossWin{
  background: white;
  display: block;
  border: 1px solid black;
  width: 350px;
  height: auto;
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 50px;
}


.window1{
  padding: 5px;
  background: #2e3e47;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: gray;
  text-align: center;
  height: 20px;


}
.window2{

  background: #4c5d6e;
  height: auto;
  width: 350px;
}
form{
  padding-top: 15px;
}
.ul {
  background: white;

}
ul{
  padding: 0;

  height: auto;
}
li{

  list-style-type: none;
}
.list{

  background: white;
}
.done{
  text-decoration: line-through;
  color: black;
}
.inp{
  width: 330px;
  margin-left: 7px;
}
.footer{

  width: auto;
  height: 20px;
  background: lightgray;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.b1{
  border: 1px solid white;
  color: gray;
  background: white;
  margin-left: 1px;
  margin-top: 2px;
  width: 50px;
  margin-left: -3px;

}
.b2{
  border: 1px solid white;
  color: gray;
  background: white;
  margin-left: -80px;
}
.b3{
  outline: none;
  float: right;
  border: 0;
  background: transparent;
}
.b3:hover{
  color: red;
  outline: none;
  float: right;
  border: 0;
  background: transparent;
}
.b1:hover{
  border: 1px solid white;
  color: red;
  background: white;
  margin-top: 2px;
  width: 50px;
}
.b2:hover{
  border: 1px solid white;
  color: red;
  background: white;
  margin-top: 2px;

}
.b5{
  background: transparent;
  border: 1px solid white;
  margin-top: 2px;
  margin-left: 7px;
}
.b5:hover{
  border: 1px solid white;
  color: red;
  background: transparent;
  margin-top: 2px;
  margin-left: 7px;
}
.toggle{
  margin-left: 7px;
}
