body{

}


.strona{
  width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   overflow: auto;

}

.bossWin{
  background: white;
  display: block;
  border: 1px solid black;
  width: 347px;
  height: auto;
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 50px;
}


.window1{
  padding: 1px;
  background: #2e3e47;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: gray;
  text-align: center;
  height: 25px;


}
.window2{

  background: #4c5d6e;
  height: auto;
  width: 345px;
}
form{
  padding-top: 7px;
}
.ul {
  background: white;

}
ul{
  padding: 0;

  height: auto;
}
li{
  list-style-type: none;
}
.lili{
  border-bottom: 1px solid gray;


}
#lili2{
  margin-left: 10px;
}

.list{

  background: white;
}
.done{
  text-decoration: line-through;
  color: black;
}
.inp{
  border: 0;
  border-radius: 4px;
  width: 330px;
  margin-left: 7px;
  height: 24px;

}
.footer{

  width: auto;
  height: 20px;
  background: lightgray;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.b1{
  border: 0 solid white;
  color: gray;
  background: white;
  margin-right: 10px;
  margin-top: 2px;
  width: auto;
  margin-left: 0;

}
.b2{
  border: 0 solid white;
  color: gray;
  background: white;
  margin-left: -62px;
}
.b3{
  outline: none;
  float: right;
  border: 0;
  background: transparent;
}
.b3:hover{
  color: red;
  outline: none;
  float: right;
  border: 0;
  background: transparent;
}
.b1:hover{
  border: 0 solid white;
  color: red;
  background: white;
  margin-top: 2px;
  width: auto;
}
.b2:hover{
  border: 0 solid white;
  color: green;
  background: white;
  margin-top: 2px;

}
.b5{
  background: transparent;
  border: 1px solid white;
  margin-top: 2px;
  margin-left: 7px;
}
.b5:hover{
  border: 1px solid white;
  color: red;
  background: transparent;
  margin-top: 2px;
  margin-left: 7px;
}
#toggle-all{

  margin-top: 7px;
  margin-left: 10px;
}
.search{
  margin-bottom: 5px;
  margin-top: -27px;
  margin-left: 166px;
}
.inp2{
  border: 0;
  border-radius: 4px;
}
.findout{
  margin-left: -20px;
}
#delone{
  float: right;
  border: 0;
  background: transparent;
  color: gray;
}
#delone:hover{
  border: 0;
  background: transparent;
  color: red;
}
.list ul li input{
  color: red;
}

/*
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}


[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; top: 2px;
  width: 17px; height: 17px;
  border: 1px solid #aaa;
  background: #f8f8f8;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.3)
}

[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '\2714\ ';
  position: absolute;
  top: 3px; left: 4px;
  font-size: 18px;
  line-height: 0.8;
  color: black;
  transition: all .2s;
}

[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}

[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 1px dotted blue;
}


label:hover:before {
  border: 1px solid #4778d9!important;
}*/
